:root{
    --colorTextos: #0d0d0d;
}
   
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Urbanist', sans-serif;
    /*background: #f2e205;  */
    /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to left, #594916, #bf9924);  */
    /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to left, #594916, #bf9924); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#form{
    background: #fff;
    padding: 20px 20px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 1px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.form{
    /*width: 100%;*/
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 30px;
    
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

 textarea{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
 }

 input:focus{
     outline: none;
     color: #0e0c0c
 }

 textarea:focus{
    outline: none;
    color: #0e0c0c
 }

 label{
     color: var(--colorTextos);
     font-size: 16px;
     position: absolute;
     left: 5px;
     top: 10px;
     transition: 0.5s ease all;
     pointer-events: none;
     
 }

 input:focus~label,
 input:valid~label{
     top: -14px;
     font-size: 12px;
     color: #0e0c0c
 }

 textarea:focus~label,
 textarea:valid~label{
     top: -14px;
     font-size: 12px;
     color: #0e0c0c
 }

 .barra{
     position: relative;
     display: block;
     width: 100%;
 }

 .barra::before{
     content: "";
     height: 2px;
     width: 0%;
     bottom: 0;
     position: absolute;
     background: linear-gradient(to right, #f2bd1d, #bf9924); 
     transition: 0.3s ease width;
     left:0;
 }

input:focus~.barra::before{
    width: 100%;
}

textarea:focus~.barra::before{
    width: 100%;
}

button{
    font-family: 'Urbanist', sans-serif;
    background: #bf9924;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2bd1d, #bf9924);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2bd1d, #bf9924); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 90%;
    margin: 10px auto;
    color: #0d0d0d;;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    form{
        width: 100%;
    }
    
}